{%extends 'master.html'%}
{%block body%}
<div class="container-fluid">
    <h1 class="text-center">
        <label class="badge">
            Hi! I'm Jroge :D
        </label>
    </h1>
    <h2 class="border-bottom border-dark">
        <label class="badge">
            What would you like to do?
        </label>
    </h2>
    <ul>
        <li>
            <h5>
                <a class="badge bg-dark text-light" href="/cv">
                    View CV
                </a>
            </h5>
        </li>
        <li>
            <h5>
                <a class="badge bg-dark text-light" href="https://github.com/jroge-uagrm" target="_blank">
                    View university projects
                </a>
            </h5>
        </li>
        <li>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <h5>
                        <a class="badge bg-dark text-light" href="/calendar">
                            View calendar
                        </a>
                    </h5>
                    <small>
                        <strong>
                            &nbsp;(If you want to schedule: a class, an outing or another!)
                        </strong>
                    </small>
                </div>
            </div>
        </li>
    </ul>
</div>
{%endblock%}