{%extends 'master.html'%}
{%load static%}
{%block body%}
<a href="/welcome">
    <button class="btn btn-outline-light fixed-top">
        Back
    </button>
</a>
<div class="container h-100">
    <div class="row h-75">
        <iframe src="{%static 'JorgeTorrez-CV.pdf'%}" width="100%" height="100%" frameborder="5"></iframe>
    </div>
    <div class="row h-25">
        <h3 class="m-auto">
            <a class="badge bg-light text-dark" href="{%static 'JorgeTorrez-CV.pdf'%}" download>
                Download
            </a>
        </h3>
    </div>
</div>
{%endblock%}