{%extends 'master.html'%}
{%load static%}
{%block body%}
<a href="/welcome">
    <button class="btn btn-outline-light fixed-top">
        Volver
    </button>
</a>
<div class="container h-75">
    <!-- <iframe src="https://docs.google.com/viewer?srcid=[identificador]&pid=explorer&efh=false&a=v&chrome=false&embedded=true"> -->
    <!-- <iframe width="100%" height="100%"
        src="https://docs.google.com/viewer?srcid=1MErzgznLG9nRhh-nzJXl-d4AQFK5s5909E4rTqlFXeo&pid=explorer&efh=false&a=v&chrome=false&embedded=true">
    </iframe> -->
    <iframe src="{%static 'JorgeTorrez-CV.pdf'%}" width="100%" height="100%" frameborder="5"></iframe>
</div>
{%endblock%}