{%load static%}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Fira Code Font -->
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>JrogeT</title>
</head>

<body class="bg-secondary">
    {%block body%}
    {%endblock%}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <footer class="fixed-bottom bg-dark text-white text-center">
        <div class="row">
            <div class="col align-self-center">
                <a href="https://wa.me/59175364642" target="_blank">
                    <img src="{%static 'images/whatsapp.png'%}" width="40" height="40">
                </a>
            </div>
            <div class="col align-self-center">
                <a href="mailto:jorgerodrigotorrez@gmail.com" target="_blank">
                    <img src="{%static 'images/gmail.png'%}" width="40" height="40">
                </a>
            </div>
            <div class="col align-self-center">
                <a href="https://www.github.com/JrogeT" target="_blank">
                    <img src="{%static 'images/github.png'%}" width="40" height="40">
                </a>
            </div>
            <div class="col-3 align-self-center">
                <small>
                    Jorge Rodrigo Torrez Aramayo
                </small>
            </div>
            <div class="col align-self-center">
                <a href="https://www.facebook.com/JorgeRodrigoTorrezAramayo" target="_blank">
                    <img src="{%static 'images/facebook.png'%}" width="40" height="40">
                </a>
            </div>
            <div class="col align-self-center">
                <a href="https://www.instagram.com/jroge_t" target="_blank">
                    <img src="{%static 'images/instagram.png'%}" width="40" height="40">
                </a>
            </div>
            <div class="col align-self-center">
                <a href="https://www.youtube.com/channel/UCSLi91PW9oH9LETcTsDs-5Q" target="_blank">
                    <img src="{%static 'images/youtube.png'%}" width="40" height="40">
                </a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- Modal -->
    <div class="modal fade" id="modal-top" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-info border border-white rounded">
                <div class="modal-header">
                    {%block modal-header%}
                    {%endblock%}
                </div>
                <div class="modal-body">
                    {%block modal-body%}
                    {%endblock%}
                </div>
                <div class="modal-footer">
                    {%block modal-footer%}
                    {%endblock%}
                </div>
            </div>
        </div>
    </div>
</body>

</html>